*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #D8C7FF, #19006C);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
 